/* Common styles */

body {
  margin: 0;
}

:root {
  --mobile-fixed-offset: 6vh;
  --desktop-fixed-offset: 3vh;
  font-family: Verdana, sans-serif;
  --chat-room-bg: #0c0c0c;
  --panel-bg: #16161a;
  --dividing-line: #202025;
}

* {
  box-sizing: border-box;
}

button {
  width: 100px;
  border-radius: 5px;
  border: none;
  background: #60a3bc;
  text-transform: uppercase;
  color: #fff !important;
  padding: 2px 5px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
}

.githubIcon {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 25px;
}


label {
  cursor: pointer;
}