#user-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  border-bottom:  1px solid #293136;

}

#user-list {
  background-color: var(--panel-bg);
  color: #fff;
  border-right:  1px solid var(--dividing-line);
}


#user-row > div {
  flex: 0 1 30%;
  margin: 5px auto;
}

.user-name {
  align-self: flex-start;
}

input {
  font-family: inherit;
}

.user-label {
  color: #048f81;
  border: 1px solid#048f81;
  border-radius: 3px;
  height: auto;
  padding: 2px 7px;
  font-size: 12px;
  line-height: 20px;
}

.user-avatar {
  background-color: #ccc;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width: 500px) {
  #user-list {
    margin-right: 8px;
  }
}